<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    	</div>
      	<div class="footer-right">
      		<a href="http://hexo.io/" target="_blank">Hexo</a>  Theme <a href="https://github.com/litten/hexo-theme-yilia" target="_blank">Yilia</a> by Litten
      	</div>
    </div>
  </div>
</footer>
<!--<script src="https://my.openwrite.cn/js/readmore.js" type="text/javascript"></script>-->
<!--<script>-->
  <!--const btw = new BTWPlugin();-->
  <!--btw.init({-->
    <!--id: 'container',-->
    <!--blogId: '18438-1574400926959-908',-->
    <!--name: 'Kaywall 学习之路',-->
    <!--qrcode: 'https://images.cnblogs.com/cnblogs_com/aikaiqiang/1585176/o_wechat_dingyuehao.jpg',-->
    <!--keyword: 'kaywall',-->
  <!--});-->
<!--</script>-->
